* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  padding-inline: 5rem;
  padding-block: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbebb9;
}
.logo {
  font-family: "Honk", system-ui;
  font-size: 2rem;
}
.addBtn{
    font-size: 1.5rem;
    background-color: #3f96fd;
    color: #fff;
    padding-inline: 0.9rem;
    padding-block: 0.3rem;
    border-radius: 6px;
    font-weight: 500;
}