* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* body{
    background-color: grey;
}
.list-sec{
    background-color: #fff;
}
.preview-sec{
    background-color: #fff;
} */
body {
  height: 100vh;
}
main {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
hr {
  width: 2px;
  background-color: rgb(20, 130, 20);
}
.list-sec {
  width: 22%;
  padding-block: 10px;
}
.btn {
  margin-bottom: 10px;
}
.add-btn {
  background-color: #008477;
  color: #fff;
  width: 75%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
}
.add-btn:active {
  scale: 0.97;
}
.list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  max-height: 93%;
  overflow-x: hidden;
  padding-bottom: 5px;
}
::-webkit-scrollbar{
    display: none;
}
.list-item {
  box-shadow: 3px 3px 15px 0px #b6b1b1;
  width: 92%;
  min-height: 130px;
  margin-block: 8px;
  padding: 5px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
#list-title {
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 500;
  padding: 1px 3px;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: transparent;
}
.body-info {
  font-size: 15px;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 3px;
}
.time {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 15px;
  color: #000000bf;
}
.active{
    background-color: #bebebe9c;
}
/* ##################### */
.preview-sec {
  width: 78%;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
#body-title {
  border: none;
  outline: none;
  display: block;
  width: 95%;
  font-weight: 600;
  font-size: 35px;
  padding-block: 1.5rem;
}
.textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 85%;
  font-size: 23px;
  color: #000000a8;
}
.color{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.bg-color{
  width: 50px;
}